#version=RHEL8
ignoredisk --only-use=vda
# System bootloader configuration
bootloader --append="selinux=0" --location=mbr --driveorder="vda" --boot-drive=vda
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel --drives=vda
# License agreement
eula --agreed
# Reboot after installation
reboot
sshpw --username=root --iscrypted $6$rY1POi8SqyPA.mpQ$lt/JeAE9v0gdc4xpb2hX8TwGeQp.mVWqUqnTSySSo2wbPYSFeH.pgRS.9wM7p9XJBSR3.r3Je9IM95C3722N1.
# Use text mode install
text --non-interactive
autostep --autoscreenshot
# Keyboard layouts
keyboard --vckeymap=de-latin1-nodeadkeys --xlayouts='at (nodeadkeys)'
# System language
lang en_US.UTF-8
# Installation logging level
logging --level=info
# Network information
network  --bootproto=dhcp --device=ens3 --noipv6 --activate
repo --name="AppStream" --baseurl=http://ftp.tugraz.at/mirror/centos/8/BaseOS/x86_64/os/../../../AppStream/x86_64/os/
# Use network installation
url --url="http://ftp.tugraz.at/mirror/centos/8/BaseOS/x86_64/os/"
# Root password
rootpw --iscrypted $6$rY1POi8SqyPA.mpQ$lt/JeAE9v0gdc4xpb2hX8TwGeQp.mVWqUqnTSySSo2wbPYSFeH.pgRS.9wM7p9XJBSR3.r3Je9IM95C3722N1.
# System authorization information
auth --enableshadow --passalgo=sha512
# SELinux configuration
selinux --disabled
firstboot --disable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Vienna --isUtc --ntpservers=tutimea.tuwien.ac.at,tutimeb.tuwien.ac.at
# Disk partitioning information
part pv.409 --fstype="lvmpv" --ondisk=vda --size=14847
part /boot --fstype="ext4" --ondisk=vda --size=512
volgroup rhel --pesize=4096 pv.409
logvol swap --fstype="swap" --size=953 --name=swap --vgname=rhel
logvol / --fstype="ext4" --size=13887 --name=root --vgname=rhel

%packages
@core
bash-completion
net-tools
tar
vim
wget
httpd

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%post  --log=/root/kickstart-post.log
#!/bin/bash
(
exec < /dev/tty7 > /dev/tty7

chvt 7
echo
echo "################################"
echo "# Running Post Configuration   #"
echo "################################"

# disable welcome site
dd if=/dev/null of=/etc/httpd/conf.d/welcome.conf

# enable apache
systemctl enable httpd
systemctl start httpd

# update firewall rules
firewall-cmd --zone=public --permanent --add-service=http
firewall-cmd --reload

sync
umount /mnt/tmp
sleep 5
clear
chvt 1
)
%end
